*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: grid; 
    -webkit-display: grid;
    -moz-display: grid;
    -o-display: grid;
    place-items: center;
}
article {
    display:block; 
    font-family: Georgia, "Times New Roman", Times, 
    serif; 
    margin: -100px 5px 5px 5px;
}